:root {
    --clr__light: #FFFFFF;
    --clr__dark-light: #;
    --clr__mid: #AAAAAA;
    --clr__dark: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
    font-size: 10px;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: courier, monospace;
    font-size: 1.2rem;
    overflow: hidden;
    cursor: crosshair;
}

.cursor-hidden {
    cursor: none;
}

canvas {
    display: block;
    background-color: transparent;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: var(--clr__dark);
}

a:hover,
a:focus {
    text-decoration: none;
}

label {
    cursor: pointer;
}

input:focus {
    outline: none;
}

.nav {
    background-color: var(--clr__light);
    position: absolute;
    top: 0;
    left: 0;
    color: var(--clr__dark);
    padding: 0rem 1rem;
    user-select: none;
    transition: top 0.3s ease;
}

.nav--hidden {
    top: -2.4rem;
}

.menu__dropdown {
    display: inline-block;
    padding: 0.5rem;
    cursor: pointer;
    position: relative;
}

.menu__dropdown:hover,
.menu__drowndown:active,
.menu__drowndown:focus {
    color: var(--clr__light);
    background-color: var(--clr__dark);
    cursor: pointer;
}

.menu__dropdown:hover .menu__dropdown-options {
    visibility: visible;
}

.menu__dropdown-options {
    position: absolute;
    top: 100%;
    left: 0;
    visibility: hidden;
    color: var(--clr__dark);
    background-color: var(--clr__light);
}

.menu__dropdown-option {
    display: block;
    width: 15rem;
    padding: 0.5rem;
}

.menu__dropdown-option:hover {
    background-color: var(--clr__mid);
}

.menu__input {
    float: right;
    color: var(--clr__mid);
}

.log {
    background-color: var(--clr__light);
    position: absolute;
    bottom: 0rem;
    left: 0rem;
    overflow: hidden;
    height: 20rem;
    transition: bottom 0.1s ease;
    user-select: none;
    padding: 0.5rem;
}

.log--hidden {
    bottom: -20rem;
}

.log__wrapper {
    height: 100%;
    overflow-y: scroll;
    margin-right: -50px;
    padding-right: 50px;
}

.log__item {
    display: block;
    padding: 0.3rem 0;
}

.cpanel {
    background-color: var(--clr__light);
    padding: 1rem;
    position: absolute;
    right: 0rem;
    bottom: 0rem;
    user-select: none;
    transition: bottom 0.3s ease;
}

.cpanel--hidden {
    bottom: -30rem;
}

.ctrl {
    margin: 0.5rem 0 0.5rem 1rem;
    border: 1px solid var(--clr__dark);
    padding: 0.5rem;
}

.ctrl-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ctrl--clr {
    margin: 0.5rem 0;
    border: 0;
}

.about {
    border: 1px solid var(--clr__dark);
    background-color: var(--clr__light);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    user-select: none;
}

.about--hidden {
    display: none;
}

.about__x {
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
    padding: 0.25rem;
    cursor: pointer;
    line-height: 0.5;
}

.about__info {
    display: block;
    text-align: center;
    padding: 0.25rem;
}

.deianeira-mark {
    text-align: center;
    padding: 4rem;
}

.mark {
    fill: none;
    stroke: var(--clr__dark);
    stroke-width: 0.75px;
}
